<div class="centered-content">
    <div class="modal-box">
            <h1 class="title">
                create New List
            </h1>
            <input #listTitleInput class="input has-background-light is-primary " type="text" >
            <!-- <p class="control">
                <a class="button is-info">
                  Search
                </a>
              </p> -->
              <br><br>
              <div class="buttons">
                  <button class="button" routerLink = "/lists">cancel</button>
                  <button class="button is-info"(click)="createList(listTitleInput.value)" >create</button>
              </div>
            <!-- <div class="field is-grouped">
                <p class="control is-expanded">
               
                </p>
                
              </div> -->
              <!-- <button class="button" style="margin-top: 18px;" routerLink = "/">Go Back</button> -->

    </div>
</div>
