<div class="centered-content">
    <div class="login-box">
        <h1 class="title">sign up</h1>
        <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input #emailInput  class="input has-background-light" type="email" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" >
              <span style="color: red;display: block;" >required example@example</span>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <!-- <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span> -->
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input #pwInput class="input has-background-light" type="password" placeholder="Password" required pattern=".{8,}">
              <span style="color: red;display: block;" >at least 8 character</span>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field "  style="display: flex; justify-content: flex-end;">
            <p class="control">
              <button class="button is-success " (click)="onsignupButtonClicked(emailInput.value,pwInput.value)">
                sign up
              </button>
            </p>
          </div>
          <p class="has-text-grey">Already got an account? <a  style="color: #44ddd0;" routerLink="/login">Login</a> now!</p>

    </div>
</div>
